.header img{
    height: 60px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 35px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 29px;
    padding: 5px;
}
nav a:hover{
    background-color:teal;
}